{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'predict/css/style.css' %}" />
    <title>Multi-Type Itemset Embedding for Learning Behavior Success</title>
</head>
<body>
    <header>
        <h1>Multi-Type Itemset Embedding for Learning Behavior Success</h1>
    </header>

    <div id="content_wrapper">
        <div id="selected_success_rate_wrapper">
            {% block selected_success_rate %}
            {% endblock selected_success_rate %}
        </div>

        <div id="selected_items_info_wrapper">
            {% block selected_items_info %}
            {% endblock selected_items_info %}
        </div>

        <div id="displaying_items_wrapper">
            {% block displaying_items_info %}
            {% endblock displaying_items_info %}
        </div>

        <div id="search_item_wrapper">
            {% block search_item %}
            {% endblock search_item %}
        </div>
    </div>

    <footer>
        <p>Authors: Daheng Wang, Meng Jiang, Qingkai Zeng, Zachary Eberhart, Nitesh Chawla</p>
        <p>Address: University of Notre Dame, Notre Dame, Indiana, 46556, USA</p>
        <p>Contact: {dwang8,mjiang2,qzeng,zeberhar,nchawla}@nd.edu</p>
        <img src="{% static 'predict/images/academic_mark/PNG/ND_mark_blue_S.png' %}" alt="Notre Dame Academic Mark">
    </footer>
    <!-- Local JS -->
    <script type="text/javascript" src="{% static 'predict/js/main.js' %}"></script>
</body>
</html>
