{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'predict/style.css' %}" />
    <title>Multi-Type Itemset Embedding for Learning Behavior Success</title>
</head>
<body>
    <header>
        <h1>Multi-Type Itemset Embedding for Learning Behavior Success</h1>
    </header>

    <div id="content_wrapper">
        <div id="selected_success_rate_wrapper">
            {% block selected_success_rate %}
            {% endblock selected_success_rate %}
        </div>

        <div id="selected_items_info_wrapper">
            {% block selected_items_info %}
            {% endblock selected_items_info %}
        </div>

        <div id="displaying_items_wrapper">
            {% block displaying_items_info %}
            {% endblock displaying_items_info %}
        </div>
    </div>

    <footer>
        <p>Authors: Daheng Wang, Meng Jiang, Qingkai Zeng, Zachary Eberhart, Nitesh Chawla</p>
        <p>Address: University of Notre Dame, Notre Dame, Indiana, 46556, USA</p>
        <p>Contact: {dwang8,mjiang2,qzeng,zeberhar,nchawla}@nd.edu</p>
        <img src="{% static 'predict/images/academic_mark/PNG/ND_mark_blue_S.png' %}" alt="Notre Dame Academic Mark">
    </footer>
</body>
</html>
