{% extends 'predict/base_index.html' %}

{% block compose %}
    <div id="curr_behavior">
{#    {% if behavior_info %}#}
{#        <p> {{ behavior_info|length }} selected items: </p>#}
{#        <ol>#}
{#        {% for item_info in behavior_info %}#}
{#            <li>({{ item_info.type|title }}) {{ item_info.name|title }}</li>#}
{#        {% endfor %}#}
{#        </ol>#}
{#    {% else %}#}
{#        <p>No selected item.</p>#}
{#    {% endif %}#}

    {% if curr_behavior_info %}
        <form name="delete_item_form" method="post" action= "{% url 'predict:delete_item' %}">
            {% csrf_token %}
            <label for="behavior_info">Selected items:</label>
            <select multiple="multiple" name="m_select_delete_item" id="m_select_delete_item" size="20">
            {% for item_info in curr_behavior_info %}
                {% if item_info.type == 'author' or item_info.type == 'reference' %}
                    <option value="{{ item_info.item_id }}">
                        {{ forloop.counter }} ({{ item_info.type }}). {{ item_info.name|title }}
                    </option>
                {% elif item_info.type == 'keyword' %}
                    <option value="{{ item_info.item_id }}">
                        {{ forloop.counter }} ({{ item_info.type }}). {{ item_info.name|lower }}
                    </option>
                {% elif item_info.type == 'conference' %}
                    <option value="{{ item_info.item_id }}">
                        {{ forloop.counter }} ({{ item_info.type }}). {{ item_info.name|upper }}
                    </option>
                {% endif %}
            {% endfor %}
            </select>
            <input type="submit" value="Delete" />
        </form>
    {% else %}
        <p>No selected item.</p>
    {% endif %}

    </div>

    <div id="displaying_items">
    {% if displaying_items %}
        <p> Choose other {{ displaying_type|title }}: </p>
        <ol>
        {% for displaying_item in displaying_items %}
            <li>{{ displaying_item.name|title }}</li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No other item to choose.</p>
    {% endif %}
    </div>

{% endblock compose %}
